In [ ]:
# accept a ground truth dataset (sentence and list of tuples of start and end indexes)
# calculate accuracy of the regex on them

In [2]:
import pandas as pd

In [1]:
pattern = r'\b(?:a/c|account) no\.?\s+(\w+)'

In [3]:
df_truth = pd.read_csv('data/truth.csv')

In [4]:
df_truth

                                                 sms                    tags
0  bank of india  account statement name abcd acc...  ['account no. 123456']
1  statement for a/c no 11111111 between 16-09-20...     ['a/c no 11111111']

In [6]:
import re

In [8]:
# def calc_accuracy(df, pattern):
    
re.findall(pattern, df_truth['sms'][1])

['11111111']